

.alert-enter {
	opacity: 0;
 }
 .alert-enter-active {
	opacity: 1;
	transition: opacity 2000ms;
 }
 .alert-exit {
	opacity: 1;
 }
 .alert-exit-active {
	opacity: 0;
	transition: opacity 2000ms;
 }

 .node-enter {
	opacity: 0;
 }
 .node-enter-active {
	opacity: 1;
	transition: opacity 2000ms;
 }
 .node-enter-done {
	opacity: 1;
	transition: opacity 2000ms;
 }
 .node-exit {
	opacity: 1;
 }
 .node-exit-active {
	opacity: 0;
	transition: opacity 2000ms;
 }
 .node-exit-done {
	opacity: 0;
	transition: opacity 2000ms;
 }